.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1px;
  background-color: rgb(0, 0, 88);
  color: #ffff;
  text-align: center;
}
.business_details {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  text-align: start;

  h3 {
    font-weight: bold;
    margin: 5px;
  }

  a {
    text-decoration: underline;
    color: grey;
  }
}

.social_media {
  div {
    display: flex;
    align-items: center;
  }
  p {
    margin: 0 0 0 5px;
  }
  svg {
    color: #fff;
    width: 20px;
  }
}

@media screen and (max-width: 768px) {
  .business_details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .business_details {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
