.form {
  width: 100%;
  height: 50vh;

  text-align: center;
  color: #ffff;
  overflow-y: hidden;

  h1 {
    margin-top: 10px;
    font-size: 4rem;
    color: navy;
  }
}

.container {
  width: 500px;
  height: auto;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  background-color: red;
  border-radius: 10px;
  // box-shadow: -1px 1px 12px red;

  p {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  svg {
    width: 30px;
    margin-top: 20px;
    margin-left: 5px;
  }
}
.btn {
  display: block;
  width: 120px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  color: red;
  border: 1px solid red;
}

// mobile view
@media screen and (max-width: 600px) {
  .form {
    margin-top: 60px;
    padding: 0 10px;
    h1 {
      font-size: 2rem;
    }
  }
  .container {
    width: 100%;
  }
}
