.main {
  display: flex;
  width: 100%;
  padding: 0px 50px;
}
.btn {
  padding: 10px 15px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: #ffff;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}
.about_business {
  flex: 1;
  color: rgb(0, 0, 109);
  padding-left: 20px;
  padding-top: 20px;

  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin: 0;
  }
  p {
    font-size: 1.2rem;
  }

  .social_media {
    margin-top: 20px;

    svg {
      margin-left: 5px;
      color: red;
      width: 30px;
    }
  }
}

.img_container {
  flex: 2;
}

// mobile styling
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    padding: 10px 15px;
  }
  .about_business {
    order: 1;
    padding: 0;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
