.container {
  background-color: #ffff;
  padding: 20px 30px;
  border-radius: 20px;
  color: rgb(0, 0, 109);
  box-shadow: 0.5px 1px 10px red;
}

.img_container {
  width: 100%;

  img {
    width: 100%;
  }
}

.detail {
  h3 {
    font-size: 2rem;
    margin: 0;
  }
  p {
    font-size: 1.2rem;
  }

  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #ffff;
    font-size: 1.1rem;
    letter-spacing: 0.8px;
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .detail {
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
